header {
  background-color: #282c34;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.flex {
  display: flex;
}

/* Main sections */
main {
  flex: 1 1 auto;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: nowrap;
}

#charts-section {
  flex: 1 1 75%;
  margin-top: 1.5rem;
  max-height: 80vh;
}

.input-bar, #currencies-section {
  flex: 1 0 auto;
  flex-direction: column;
  gap: 2rem;
}

/* Chart container */
.container {
  margin: auto;
}

/* Aside forms */
.input-bar {
  padding: 1.5rem;
  background-color: #a1bc9f;
}

.aside-form {
  flex-direction: column;
  gap: 1rem;
}

.form-label {
  text-align: end;
  margin-bottom: 1rem;
}

/* Currencies list form */
#currencies-section {
  background-color: #adad85;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#currencies-section::-webkit-scrollbar {
  display: none;
}

.currency-button {
  opacity: 0.4;
  background-color: #282c34;
  color: white;
  width: 70%;
  height: 5em;
  margin: auto;
  padding: 1em;
  border-radius: 15%;
  font-size: 1em;
  flex: 0 1 5em;
}

.currency-button:hover {
  opacity: 1;
  font-weight: bold;
}

.active-button {
  opacity: 1;
  background-color: #3c9902;
  font-weight: bold;
}

.post-button {
  border-radius: 0;
  flex: 0 1 5em;
  opacity: 0.8;
  background-color: #282c34;
  font-weight: bold;
  color: #45ad05;
  font-style: italic;
}

.delete {
  color: red;
}

/* Change display if with a portrait orientation or a width lower than 960px */
@media (max-width: 960px) {
  main {
    flex-direction: column;
  }
  
  #currencies-section {
    flex-direction: row;
    gap: unset;
    flex: 1 1 auto;
  }
}